@media only screen and (min-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center; /* centers all children horizontally */
        margin: 0;
    }

    #projects, #skills {
        padding: 15px;
        margin-top: 20px;
    }

    header, #about-me, #section-container, #contact {
        width: 800px;
    }

    #section-container {
        display: flex;
    }

    #projects {
        margin-right: 10px;
        width: 400px;
    }
    
    #skills {
        margin-left: 10px;
        width: 400px;
    }

    /* nav section */
    header {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        margin: 5px;
    }

    nav ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .btn {
        width: 80px;
        font-size: 15px;
        text-align: center;
        margin: 5px;
    }

    /* about me section */
    #about-me, #contact {
        margin-top: 20px;
    }

    #about-me-container {
        display: flex;
        align-items: center;
    }

    #about-me-h2, #contact-h2 {
        padding-top: 10px;
    }

    #melissa-jones {
        padding-right: 10px;
        padding-bottom: 10px;
    }

    h2 {
        text-align: center;
        margin: 0;
    } /* applies to all h2s */

    #bio {
        margin: 10px;
    }

    #img-container {
        display: flex;
        justify-content: center;
    }

    /* contact section */
    #contact-container {
        padding: 10px;
    }

    .contact-info {
        display: inline-block;
    }

    #phone {
        margin-left: 20px;
    }
}