body {
    background-color: whitesmoke;
    color: rgb(27, 27, 27);
    font-family: "google sans";
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(27, 27, 27);
}

/* nav bar styling */
header {
    background-color: lightgrey;
}

nav ul {
    list-style-type: none;
}

.btn {
    background-color: gainsboro;
    padding: 10px;
    border: 2px solid silver;
    border-radius: 2.5rem;
}

.btn:hover {
    background-color: dimgrey;
}

.btn:hover a {
    color: whitesmoke;
}

/* about me section */
#about-me {
    background-color: lightgrey;
}

#melissa-jones {
    width: 12.5rem;
}

/* projects section */
#projects {
    background-color: lightgrey;
}

/* project section */
.project-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.github-logo {
    width: 30px;
    margin: 10px;
}

.github-logo:hover {
    border: 2px solid white;
}

/* skills section */
#skills {
    background-color: lightgrey;
}

/*contact section*/
#contact {
    background-color: lightgrey;
}

.project-container {
    background-color: gainsboro;
    padding: 10px;
    border: 2px solid silver;
    border-radius: 2rem;
    margin-bottom: 10px;
}

#btn-container {
    display: flex;
    justify-content: center;
}

#generate-btn {
    width: 85px;
}