@media only screen and (min-width: 426px) and (max-width: 1023px) {
    /* nav section */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        margin: 5px;
    }

    nav ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .btn {
        width: 80px;
        font-size: 15px;
        text-align: center;
        margin: 5px;
    }

    /* about me section */
    #about-me, #projects, #skills, #contact {
        padding: 15px;
        margin-top: 20px;
    }

    #about-me-container {
        display: flex;
        align-items: center;
    }

    h2 {
        text-align: center;
        margin: 0;
    } /* applies to all h2s */

    #bio {
        margin: 10px;
    }

    #img-container {
        display: flex;
        justify-content: center;
    }
}